/GRCh38.primary_assembly.genome_filtered.fa
/gencode.v43.annotation_filtered.gtf
/gs689_1_filtered.sam
/gs689_2_filtered.sam
/gs689_3_filtered.sam
/pc3e_1_filtered.sam
/pc3e_2_filtered.sam
/pc3e_3_filtered.sam
