/GRCh38.primary_assembly.genome_filtered.fa
/GRCh38.primary_assembly.genome_filtered.fa.fai
/combined.gtf
/combined_with_attributes.gtf
/gencode.v43.annotation_filtered.gtf
/gffcompare.*
/gs689_1.gtf
/gs689_1_filtered.sam
/gs689_2.gtf
/gs689_2_filtered.sam
/gs689_3.gtf
/gs689_3_filtered.sam
/gtf_list.txt
/pc3e_1.gtf
/pc3e_1_filtered.sam
/pc3e_2.gtf
/pc3e_2_filtered.sam
/pc3e_3.gtf
/pc3e_3_filtered.sam
