bioconductor-biocparallel=1.32.*
bioconductor-drimseq=1.26.0
icu=58.* # drimseq seems to depend on icu 58
matplotlib-base=3.7.*
networkx=2.8.*
numpy=1.24.*
pandas=1.5.*
python=3.10.*
r-base=4.2.*
r-cowplot=1.1.*
r-ggplot2=3.4.*
