/ENSG00000198561.16_cpm_and_proportion.tsv
/ENSG00000198561.16_isoform_differences_from_ENST00000358694.10.tsv
/ENSG00000198561.16_isoform_differences_from_ENST00000399050.10.tsv
/differential_genes.tsv
/differential_transcripts.tsv
/differential_transcripts_filtered.tsv
/gene_pvalues.png
/precision_by_gene_expression.png
/transcript_pvalues.png
/transcripts_per_gene.png
