/ENSG00000198561.16_cpm_and_proportion.tsv
/differential_genes.tsv
/differential_transcripts.tsv
/gene_pvalues.png
/isoform_differences.tsv
/precision_by_gene_expression.png
/transcript_pvalues.png
/transcripts_per_gene.png
