/*_simplified.tsv
/alignments/
/annotation/
/asm.gtf
/asm_counts.tsv
/combined.gtf
/espresso_cleaned.gtf
/events/
/rmats_long/coeff.tsv
/rmats_long/count.tsv
/rmats_long/differential_asms.tsv
/rmats_long/differential_isoforms.tsv
/rmats_long/differential_isoforms_filtered.tsv
/rmats_long/error.tsv
/rmats_long/lrtp.tsv
/rmats_long/results_by_gene/*/*_cpm_and_proportion.tsv
/rmats_long/results_by_gene/*/*_isoform_differences_*_to_*.tsv
/rmats_long/results_by_gene/*/*_sj_counts.png
/rmats_long/results_by_gene/*/duplicate_asms.tsv
/rmats_long/results_by_gene/*/filtered.gtf
/rmats_long/results_by_gene/*/isoform_count_by_asm.tsv
/rmats_long/results_by_gene/ENSG00000070882.13/
/rmats_long/results_by_gene/ENSG00000074410.14/
/rmats_long/results_by_gene/ENSG00000198561.16/0_12*
/rmats_long/results_by_gene/ENSG00000198561.16/0_13*
/rmats_long/results_by_gene/ENSG00000198561.16/0_14*
/rmats_long/results_by_gene/ENSG00000198561.16/0_15*
/rmats_long/results_by_gene/ENSG00000198561.16/0_16*
/rmats_long/results_by_gene/ENSG00000198561.16/0_17*
/rmats_long/results_by_gene/ENSG00000198561.16/0_18*
/rmats_long/results_by_gene/ENSG00000198561.16/0_19*
/rmats_long/results_by_gene/ENSG00000204580.14/
/rmats_long/results_by_gene/ENSG00000254732.2/
/rmats_long/results_by_gene/ENSG00000288534.1/
/rmats_long/summary.txt
/rmats_long/summary_plot.pdf
/rmats_long/summary_plot.png
/rmats_long/warning.tsv
/samples.tsv
