/a3ss_input/
/a3ss_log/
/a3ss_out/
/a5ss_input/
/a5ss_log/
/a5ss_out/
/both_5_and_3_input/
/both_5_and_3_log/
/both_5_and_3_out/
/mxe_input/
/mxe_log/
/mxe_out/
/ri_input/
/ri_log/
/ri_out/
/se_input/
/se_log/
/se_out/
