/alt_3_input/
/alt_3_log/
/alt_3_out/
/alt_5_input/
/alt_5_log/
/alt_5_out/
/alt_first_input/
/alt_first_log/
/alt_first_out/
/alt_last_input/
/alt_last_log/
/alt_last_out/
/alt_start_end_input/
/alt_start_end_log/
/alt_start_end_out/
/complex_input/
/complex_log/
/complex_out/
/each_exon_input/
/each_exon_log/
/each_exon_out/
/mixed_input/
/mixed_log/
/mixed_out/
/most_exons_input/
/most_exons_log/
/most_exons_out/
/multiple_gene_isoform_input/
/multiple_gene_isoform_log/
/multiple_gene_isoform_out/
/mxe_input/
/mxe_log/
/mxe_out/
/overlap_skip_input/
/overlap_skip_log/
/overlap_skip_out/
/ri_input/
/ri_log/
/ri_out/
/several_input/
/several_log/
/several_out/
/skipped_exon_input/
/skipped_exon_log/
/skipped_exon_out/
/two_long_input/
/two_long_log/
/two_long_out/
