/coeff.tsv
/count.tsv
/differential_genes.tsv
/differential_transcripts.tsv
/differential_transcripts_filtered.tsv
/error.tsv
/lrtp.tsv
/results_by_gene/*/*_cpm_and_proportion.tsv
/results_by_gene/*/*_isoform_differences_*_to_*.tsv
/results_by_gene/ENSG00000070882.13/
/results_by_gene/ENSG00000074410.14/
/results_by_gene/ENSG00000198561.16/
/sample_gene_cpm.tsv
/sample_read_totals.tsv
/summary.txt
/summary_plot.pdf
/summary_plot.png
/warning.tsv
